@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 1 65% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #d32f2c;

    --background: 1 42.25% 4%;
    --foreground: 1 6.5% 97.5%;

    --muted: 1 32.5% 15%;
    --muted-foreground: 1 6.5% 55%;

    --popover: 1 52% 6.5%;
    --popover-foreground: 1 6.5% 97.5%;

    --card: 1 52% 6.5%;
    --card-foreground: 1 6.5% 97.5%;

    --border: 1 32.5% 15%;
    --input: 1 32.5% 15%;

    --primary: 1 65% 50%;
    --primary-foreground: 1 6.5% 5%;

    --secondary: 1 32.5% 15%;
    --secondary-foreground: 1 6.5% 97.5%;

    --accent: 1 32.5% 15%;
    --accent-foreground: 1 6.5% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 1 6.5% 97.5%;

    --ring: 1 65% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
